################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week17-ErrorHandlingWebsite/.vs/Week17-ErrorHandling/v15/Server/sqlite3/db.lock
